.container {
	padding: var(--size-m);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-l);
}

.sortOptions {
	display: flex;
}

.sortTypeButton {
	height: var(--size-xxl);
	padding: 0 var(--size-l);
	background: var(--color-gray-110);
	border-top: 1px solid var(--color-gray-90);
	border-bottom: 1px solid var(--color-gray-90);
}

.sortTypeButton:hover {
	background: var(--color-hover);
}

.sortTypeButton.highlight {
	background: var(--color-accent);
}

.sortTypeButton:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-left: 1px solid var(--color-gray-90);
}

.sortTypeButton:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border-right: 1px solid var(--color-gray-90);
}
